<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/assets/pibidesk/images/favicon.svg"
      type="image/x-icon"
    />
    <title>pibiDesk</title>
    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="/assets/pibidesk/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/pibidesk/css/lineicons.css" />
    <link rel="stylesheet" href="/assets/pibidesk/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/assets/pibidesk/css/main.css" />
    
    <link type="text/css" rel="stylesheet" href="/assets/css/desk.min.css?ver={{ build_version }}" />
  </head>
  <body frappe-session-status="{{ 'logged-in' if frappe.session.user != 'Guest' else 'logged-out'}}" data-path="{{ path | e }}" {%- if template and template.endswith('.md') %} frappe-content-type="markdown" {%- endif %} class="{{ body_class or ''}}">
    <!-- ======== sidebar-nav start =========== -->
    <aside class="sidebar-nav-wrapper">
      <div class="navbar-logo">
        <a href="{{frappe.utils.get_url()}}/index">
          <img src="/assets/pibidesk/images/logo/logo.svg" alt="logo" width="36%"/>
        </a>
      </div>
      <nav class="sidebar-nav">
        <ul>
          <!-- Autorizaciones -->
          <li class="nav-item nav-item-has-children">
            <a
              href="#0"
              data-bs-toggle="collapse"
              data-bs-target="#ddmenu_0"
              aria-controls="ddmenu_0"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon">
                <svg
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                d="M12.9067 14.2908L15.2808 11.9167H6.41667V10.0833H15.2808L12.9067 7.70917L14.2083 6.41667L18.7917 11L14.2083 15.5833L12.9067 14.2908ZM17.4167 2.75C17.9029 2.75 18.3692 2.94315 18.713 3.28697C19.0568 3.63079 19.25 4.0971 19.25 4.58333V8.86417L17.4167 7.03083V4.58333H4.58333V17.4167H17.4167V14.9692L19.25 13.1358V17.4167C19.25 17.9029 19.0568 18.3692 18.713 18.713C18.3692 19.0568 17.9029 19.25 17.4167 19.25H4.58333C3.56583 19.25 2.75 18.425 2.75 17.4167V4.58333C2.75 3.56583 3.56583 2.75 4.58333 2.75H17.4167Z"
                  />
                </svg>
              </span>
              <span class="text"></span>
            </a>
            <ul id="ddmenu_0" class="collapse show dropdown-nav">
              {% if frappe.session.user == "Guest" %}
              <li>
                <a href="{{frappe.utils.get_url()}}/login?redirect-to=index" class="active"> Login </a>
              </li>
              {% else %}
                <li>
                  <a href="{{frappe.utils.get_url()}}/index?cmd=web_logout" class="active"> Logout </a>
                </li>
                <li>
                  <a href="{{frappe.utils.get_url()}}/app"> Desk </a>
                </li>
              {% endif %}  
            </ul>
          </li>
        </ul>
      </nav>
      <div class="promo-box">
        <h3><strong>pibi</strong>Desk</h3>
        <p>by pibiCo</p>
      </div>
    </aside>
    <div class="overlay"></div>
    <!-- ======== sidebar-nav end =========== -->

    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">
      <!-- ========== header start ========== -->
      <header class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-6">
              <div class="header-left d-flex align-items-center">
                <div class="menu-toggle-btn mr-20">
                  <button
                    id="menu-toggle"
                    class="main-btn btn-primary btn-hover"
                  >
                    <i class="lni lni-chevron-left me-2"></i> Menu
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-md-7 col-6">
              <div class="header-right">
                <!-- profile start -->
                <div class="profile-box ml-15">
                {% if frappe.session.user == 'Guest' %}
                  <a class="nav-link" href="login?redirect-to=index">
                    <span class="ml-2 d-none d-lg-inline-block">
                      <span class="text-dark">Login</span>
                    </span>
                  </a>
                  {% else %}
                  <button
                    class="dropdown-toggle bg-transparent border-0"
                    type="button"
                    id="profile"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <div class="profile-info">
                      <div class="info">
                        <h6>{{ frappe.session.user }}</h6>
                      </div>
                    </div>
                    <i class="lni lni-chevron-down"></i>
                  </button>
                  <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="profile"
                  >
                    <li>
                      <a href="{{frappe.utils.get_url()}}/app/user/{{ frappe.session.user }}">
                        <i class="lni lni-user"></i> Settings</a>
                    </li>
                    <li>
                      <a href="{{frappe.utils.get_url()}}/app/home"> <i class="lni lni-home"></i> Desk</a>
                    </li>
                    <li>
                      <a href="{{frappe.utils.get_url()}}?cmd=web_logout"> <i class="lni lni-exit"></i> Logout</a>
                    </li>
                  </ul>
                  {% endif %}
                </div>
                <!-- profile end -->
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- ========== header end ========== -->

      <!-- ========== section start ========== -->
      <section class="section">
        <div class="container-fluid">
          <div class="row m-0">
            <div class="col-md-4">
              <div class="image">
                <span>
                <img class="m-3"
                  src="/assets/pibidesk/images/logo/logo_pibico.svg"
                  width="200%"
                />
                </span>
              </div>
            </div>
            <div class="p-2 col-md-8 align-self-center">
              <img class="m-3" align="right"
                   src="/assets/pibidesk/images/profile/ATVirtual-logo.svg"
                  width="50%"
              />  
              <h3 class="m-3 title">Management with Internet of Things (MIoT)</h3>
              <p class="m-3" style="color: #4682b4;">the AT-Virtual Project promoted the development of solutions to design and develop IoT prototypes which were totally developed by PibiCo.</p>
              {% if frappe.session.user == 'Guest' %}
                <a href="login?redirect-to=index" class="btn mb-1 p-1 btn btn-primary w-25" style="font-size: 150%;">LOGIN</a>
              {% else %}
                <a href="?cmd=web_logout" class="btn mb-1 p-1 btn btn-light w-25"  style="font-size: 150%;">LOGOUT</a>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
      <!-- ========== section end ========== -->

      <!-- ========== card components start ========== -->
      <section class="card-components">
        <div class="container-fluid">
          <!-- ========== cards-styles start ========== -->
          <div class="cards-styles">
            <!-- ========= card-style start ========= -->
            <div class="row">
              <div class="col-12">
                <div class="title mt-30 mb-30">
                  <h2 style="color: #4682B4;">Training with IoT</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="card-style-2 mb-30">
                  <div class="card-image">
                    <a href="#0">
                      <img
                        src="/assets/pibidesk/images/cards/card-style-2/card-1.jpg"
                        alt=""
                      />
                    </a>
                  </div>
                  <div class="card-content">
                    <h4><a href="#0">The Devices </a></h4>
                    <p style="color: #4682B4;">
                      Differente Sensors were used such as wind speed and direction, Inertial Movement Unit (IMU), GPS, Battery Charge, Relays for Warning Lights, a horn for sounds, a Water Depth and Temperature Sensor and a Water Flow Sensor and RGB Led Matrix connected trough Internet achieved by 4G MiFi Router and WiFi.
                    </p>
                  </div>
                </div>
              </div>
              <!-- end col -->
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="card-style-2 mb-30">
                  <div class="card-image">
                    <a href="#0">
                      <img
                        src="/assets/pibidesk/images/cards/card-style-2/card-2.jpg"
                        alt=""
                      />
                    </a>
                  </div>
                  <div class="card-content">
                    <h4><a href="#0">Interconnections </a></h4>
                    
                    <p style="color: #4682B4;">
                      Devices are digital and interconnected
                      through Internet data traveling by WiFi, 4G, MQTT.
                    </p>
                  </div>
                </div>
              </div>
              <!-- end col -->
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="card-style-2 mb-30">
                  <div class="card-image">
                    <a href="#0">
                      <img
                        src="/assets/pibidesk/images/cards/card-style-2/card-3.jpg"
                        alt=""
                      />
                    </a>
                  </div>
                  <div class="card-content">
                    <h4><a href="#0">The Project </a></h4>
                    <p style="color: #4682B4;">
                      The data acquired by IoT Devices are recorded
                      in only one system integrated with the Server App. Devices have its own local Web-App as well.
                    </p>
                  </div>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
            
          </div>
          <!-- ========== cards-styles end ========== -->
        </div>
        <!-- end container -->
      </section>
      <!-- ========== card components end ========== -->

      <!-- ========== footer start =========== -->
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 order-last order-md-first">
              <div class="copyright text-center text-md-start">
                <p class="text-sm">
                  Developed by
                  <a
                    href="https://www.pibico.org"
                    rel="nofollow"
                    target="_blank"
                  >
                    pibiCo, 2022
                  </a>
                </p>
              </div>
            </div>
            <!-- end col-->
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </footer>
      <!-- ========== footer end =========== -->
    </main>
    <!-- ======== main-wrapper end =========== -->

    <!-- ========= All Javascript files linkup ======== -->
    <script src="/assets/pibidesk/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/pibidesk/js/moment.min.js"></script>
    <!-- Cookie Consent by https://www.FreePrivacyPolicy.com -->
    <script type="text/javascript" src="/assets/pibidesk/dist/cookie-consent/cookie-consent.js"></script>
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
cookieconsent.run({"notice_banner_type":"simple","consent_type":"express","palette":"light","language":"en","cookies_policy_url":"https://iot-mtu.ddns.net","website_name":"https://iot-mtu.ddns.net"});
    });
    </script>

    <noscript>Cookie Consent by <a href="https://www.FreePrivacyPolicy.com/free-cookie-consent/" rel="nofollow noopener">FreePrivacyPolicy.com</a></noscript>
<!-- End Cookie Consent -->
    
    <script src="/assets/pibidesk/js/main.js"></script>

  </body>
</html>
